<html >

<head >
  <meta charset="utf-8" >
  <meta name="viewport" content="width=device-width, initial-scale=1" >
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous" >
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css"
        rel="stylesheet"
        type="text/css" >
  <title >{% block title %}{% endblock %} - AcTasker</title >
</head >

<body >
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-success" >
  <a class="navbar-brand text-inverse mr-auto" href="/" >AcTasker</a >
  <ul class="navbar-nav" >

    {% if is_login == True %}
    <li class="nav-item" >
      <a class="nav-link" href="/settings" >
        Setting
      </a >
    </li >
    {% endif %}
    <li class="nav-item" >
      {% if is_login == False %}

      <a class="nav-link" href="/login" >
        Login
      </a >
      {% else %}

      <a class="nav-link" href="/logout" >
        Logout
      </a >
      {% endif %}
    </li >
  </ul >
</nav >
<div >

  {% block base %}

  <div style="padding: 90px 0px" >
    <div class="section" >
      <div class="container" >
        <div class="row" >
          {% block body %}
          {% endblock %}
        </div >
      </div >
    </div >
  </div >
  {% endblock %}
</div >

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous" ></script >
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous" ></script >
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous" ></script >
{% block js %}
{% endblock %}

</body >

</html >