{% extends "base.html" %}
{% block body %}

<div class="col-md-12" >
  <h1 class="" >ようこそ {{ user.info.display_name }}さん</h1 >
  {% if user.tasks != [] %}
  <div class="list-group" >

    <a class="list-group-item" >
      <div class="container" >
        <div class="row" >
          <h4 class="list-group-item-heading" >タスク名</h4 >
        </div >
        <div class="row" >
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 description" >タスク説明</div >
          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6" >タグ名</div >
          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6" >優先度</div >
          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6" >操作系</div >
        </div >
      </div >
    </a >
    {% for i in user.tasks %}
    <a class="list-group-item" >
      <div class="container" >
        <div class="row" >
          <h4 class="list-group-item-heading" >{{ i.name }}</h4 >
        </div >
        <div class="row" >
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 description" >{{ i.description }}</div >
          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6" >{{ i.tag.name }}</div >
          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6" >{{ i.tag.priority }}</div >
          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6" >
            <button type="button" class="btn btn-warning  btn-block"
                    onclick="window.location=/tasks/{{ i.id }}" >編集
            </button >
          </div >
        </div >
      </div >
    </a >
    {% endfor %}
  </div >
  {% else %}
  <div class="alert alert-success" role="no-task" ><b >残っているタスクがありません!</b >
    <!--<button type="button" class="btn btn-success" >タスクが増えましたか？</button >-->
  </div >
  {% endif %}
  <button type="button" class="btn btn-success btn-block" onclick="document.location.href = '/tasks/add'"
  >タスクを追加する
  </button >
</div >
<div class="modal fade" draggable="true" >
  <div class="modal-dialog" >
    <div class="modal-content" >
      <div class="modal-header" >
        <button class="close" data-dismiss="modal" type="button" >×</button >
        <h4 class="modal-title" >Modal title</h4 >
      </div >
      <div class="modal-body" >
        <p >One fine body...</p >
      </div >
      <div class="modal-footer" >
        <a class="btn btn-default" data-dismiss="modal" >Close</a >
        <a class="btn btn-primary" >Save
          changes</a >
      </div >
    </div >
  </div >
</div >
{% endblock %}