{% extends "base.html" %}
{% block body %}
<div class="col-md-12 wall" >
  <h3 >タグ一覧</h3 >
  <div style="max-height: 200px; overflow: scroll" >

    <div class="list-group" >
      <a class="list-group-item list-group-item-action flex-column align-items-start" >
        <div class="container" >
          <div class="col-lg-7" >タグ名</div >
          <div class="col-lg-3" >優先度</div >
          <div class="col-lg-2" >
          </div >
        </div >
      </a >
      {% for tag in tags %}
      <a class="list-group-item list-group-item-action flex-column align-items-start" >
        <div class="container" >
          <div class="col-lg-7 d-flex" ><b >{{ tag.name }}</b ><br >{{ tag.description }}</div >
          <div class="col-lg-3" ><span class="badge badge-default badge-pill" >{{ tag.priority }}</span ></div >
          <div class="col-lg-2" >
            <button type="button" class="btn btn-warning btn-sm"
                    onclick="window.location='/settings/tags/{{ tag.name }}/modify'" >編集
            </button >
            <button type="button" class="btn btn-danger btn-sm"
                    onclick="window.location='/settings/tags/{{ tag.name }}/delete'" >削除
            </button >
          </div >
        </div >
      </a >
      {% endfor %}

    </div >
  </div >

</div >
<br >
<hr >
<br >
<div class="col-md-12" >
  <form name="task" id="task" class="" draggable="true" method="post" >
    {% for menu in menus %}

    {% for i in menu.error %}
    <div class="alert alert-success" role="alert" >{{ i.message }}</div >
    {% endfor %}

    <div class="form-group" >
      <h3 ><label >{{ menu.name }}</label ></h3 >
      {{ menu.description }}
      {% if menu.type == "dropdown" %}
      <div class="dropdown" >
        <button class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false" >
          Dropdown button
        </button >
        <div class="dropdown" >
          <button class="btn btn-secondary dropdown-toggle"
                  type="button"
                  id="dropdownMenu2"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false" >
            Dropdown
          </button >
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2" >
            {% for i in range(len(menu.items)) %}
            <button class="dropdown-item" type="button"
                    onclick="document.getElementsByName('{{ menu.id }}')[0].value='{{ i }}'" >{{menu.items[i]}}
            </button >
            {% endfor %}
          </div >
        </div >
        <input name="{{ menu.id }}" value="{{ menu.value }}" hidden />
      </div >
      {% else %}
      <input name="{{ menu.id }}" type="{{ menu.type }}" class="form-control" placeholder="Enter {{ menu.name }}"
             {% if checked %} disabled {% endif %} {% if menu.value !=None %}value="{{ menu.value }}" {% endif %} >
      {% endif %}
      {% if checked %}
      <input name="{{ menu.id }}" value="{{ menu.value }}" hidden />
      {% endif %}

    </div >
    {% endfor %}
    <button class="btn btn-primary" onclick="submit()" >Submit</button >
    {% if checked == True %}
    <input name="csrf_token" value="{{ csrf_token }}" hidden />
    <input type="checkbox" name="checked" checked hidden />
    {% endif %}
  </form >
</div >
{% endblock %}